_site
.cache
.DS_Store
dist/
dist-cdn/
node_modules
packages/**/*/src/react
cdn/
yarn.lock
_bundle_
/packages/webawesome-pro
/packages/webawesome-app
.idea
packages/webawesome/assets
.claude/settings.local.json
packages/webawesome/docs/assets/icons
**/.claude/scheduled_tasks.lock
