.code-example {
  background: var(--wa-color-surface-lowered);
  border: var(--wa-border-style) var(--wa-panel-border-width) var(--wa-color-neutral-border-quiet);
  border-radius: var(--wa-panel-border-radius);
  color: var(--wa-color-text-normal);
  isolation: isolate;

  &:has(+ *) {
    margin-block-end: var(--wa-content-spacing);
  }
}

.code-example-preview {
  position: relative;
  background: var(--wa-color-surface-default);
  border-start-start-radius: var(--wa-panel-border-radius);
  border-start-end-radius: var(--wa-panel-border-radius);
  border-block-end: var(--wa-border-style) var(--wa-panel-border-width) var(--wa-color-neutral-border-quiet);
  padding: 2rem 3.25rem 2rem 2rem;
  min-width: 20rem;
  max-width: 100%;

  > :first-child:not(dialog) {
    margin-block-start: 0;
  }

  > :last-child:not(dialog) {
    margin-block-end: 0;
  }
}

/* Block the preview while dragging to prevent iframes from intercepting drag events */
.code-example-preview--dragging:after {
  content: '';
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: ew-resize;
}

.code-example-resizer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  inset-block-end: 0;
  width: 1.75rem;
  color: var(--wa-color-text-quiet);
  background-color: var(--wa-color-surface-default);
  border-inline-start: var(--wa-border-style) var(--wa-panel-border-width) var(--wa-color-neutral-border-quiet);
  border-start-end-radius: calc(var(--wa-panel-border-radius) - var(--wa-panel-border-width));
  cursor: ew-resize;

  wa-icon {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .code-example-preview {
    padding-inline-end: 2rem;
  }

  .code-example-resizer {
    display: none;
  }
}

.code-example:not(.open) .code-example-source {
  display: none;
}

.code-example.open .code-example-toggle wa-icon {
  rotate: 180deg;
}

.code-example-source {
  border-block-end: var(--wa-border-style) var(--wa-panel-border-width) var(--wa-color-neutral-border-quiet);
  border-radius: 0;

  & pre {
    position: relative;
    border-radius: inherit;
    margin: 0;
    white-space: normal;
  }
}

/* Adapt borders and rounding to which code example features are disabled */
.code-example-source:has(.no-buttons) {
  border-block-end: none;
  border-end-end-radius: calc(var(--wa-panel-border-radius) - var(--wa-panel-border-width));
  border-end-start-radius: calc(var(--wa-panel-border-radius) - var(--wa-panel-border-width));
}

.code-example-source:has(.no-preview) {
  border-start-end-radius: calc(var(--wa-panel-border-radius) - var(--wa-panel-border-width));
  border-start-start-radius: calc(var(--wa-panel-border-radius) - var(--wa-panel-border-width));
}

.code-example-source:has(.no-preview) + .code-example-buttons {
  border-start-end-radius: var(--wa-panel-border-radius);
  border-start-start-radius: var(--wa-panel-border-radius);

  .code-example.open & {
    border-start-end-radius: 0;
    border-start-start-radius: 0;
  }
}

.code-example-buttons {
  display: flex;
  align-items: stretch;
  background: var(--wa-color-surface-default);
  color: var(--wa-color-text-quiet);
  border-end-start-radius: var(--wa-panel-border-radius);
  border-end-end-radius: var(--wa-panel-border-radius);

  button {
    position: relative;
    all: unset;
    flex: 1 0 auto;
    font-size: 0.875rem;
    color: var(--wa-color-text-quiet);
    border-inline-start: var(--wa-border-style) var(--wa-panel-border-width) var(--wa-color-neutral-border-quiet);
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;

    &:first-of-type {
      border-inline-start: none;
      border-end-start-radius: var(--wa-panel-border-radius);
    }

    &:last-of-type {
      border-end-end-radius: var(--wa-panel-border-radius);
    }

    &:focus-visible {
      z-index: 3;
      outline: var(--wa-focus-ring);
    }
  }

  .code-example-pen {
    flex: 0 0 100px;
    white-space: nowrap;
  }
}
