/* Prep our code blocks to host the copy button */
pre[id*='code-block-']:has(code) {
  position: relative;
  padding: 0;
  white-space: normal;

  & code {
    display: block;
    font-size: 1em;
    background-color: transparent;
    padding: var(--wa-space-m);
    white-space: pre;
    overflow-x: auto;
  }
}

wa-copy-button.copy-button {
  --background-color: var(--wa-color-gray-20);
  --background-color-hover: color-mix(in oklab, var(--background-color), white 5%);
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  font-family: var(--wa-font-family-body);
  color: var(--wa-color-gray-80);
  border-radius: var(--wa-border-radius-m);
  padding: 0.25rem;

  &::part(button) {
    background: transparent;
    cursor: copy;
  }

  @media (hover: hover) {
    &:hover {
      color: white;
    }
  }

  &:focus-visible {
    outline: var(--wa-focus-ring);
  }
}

@media (hover: hover) {
  .copy-button:not(:focus-within) {
    opacity: 0;
  }

  pre:hover > .copy-button {
    opacity: 1;
  }
}
